body{
    margin: 0;
}
.Menu{
    background: #1e1e1e;
    position: fixed;
    left: 0;
    right: 0;
    height: 3rem;
}
.Menu__list{
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
.Menu__item{
    line-height: 3rem;
    margin-right:1rem;
    display: inline-block;
    /*float: left;*/
}

.Menu__link{
    text-decoration: none;
    color: #3be9f4;
    font-size: 1.1rem;
    transition: 0.5s;
}
.Menu__link:hover{
    color: white;
    font-size: 2rem;
}

.Header{

    height: 40vh;
}

