
.Menu__list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.Menu__item{
    display: inline-block;
    /*float: left;*/
}

.Menu__link{
    text-decoration: none;
}




.sen{
    height: 150vh;
    background: #000;
}