/*selectores*/
/*clase*/
.miclase{

}
/*id*/
#mi_id{

}
/*etiqueta*/
p{

}
/*De atributo*/
a[href^="mailto"]{
    font-size: 3rem;
}

a[href$=".html"]{
    color: peru;
    font-size: 5rem;
}

/*h2[title]{*/
    /*color:red;*/
    /*background: #000;*/
/*}*/

/*h2[title*="pagina"]{*/
    /*color: red;*/
/*}*/



/*selectores adyacente*/
h1 + h2{
    background: green;
    color: white;
}

h1 ~ h2{
    background: red;
    color: white;
}

div>div>p{
    color: cadetblue;
    font-size: 4rem;
}
/*Descendentes*/
.div_class p a {
    font-size: 3rem;
}

/*pseudoelemento*/

.parrafo:first-line{
    color: blue;
    font-size: 2rem;
}

.parrafo:first-letter{
    font-size: 4rem;
    color: red;
}

.parrafo:before{
    content:"Inicio del parrafo";
}
.parrafo:after{
    content:"Final de parrafo";
    color: blue;
    font-size: 3rem;
}
table{
    border: 2px solid olivedrab;
}

tr:first-child{
    background: skyblue;
}
tr:last-child{
    background: red;
}
tr:nth-child(3){
    background: peru;
}
tr:nth-last-child(2){
    background: green;
}

tr:nth-child(2n){
    background: skyblue;
}

tr:nth-child(2n + 1){
    background: darkseagreen;
}
tr{
    transition: 1s;
}
tr:hover:nth-child(2n){
    background: deepskyblue;
    font-size: 2rem;
}

.p_dis{
    display: inline-block;
}

.link{
    display: block;
    display: inline;
    display: inline-block;
    display: none;
}






















